<h2>Indiana Jones</h2>
<div id="indiana-jones">
  <img src="images/indiana-jones.jpg" alt="indiana jones">
  <p>The Indiana Jones franchise is an American media franchise based on the adventures of Dr. Henry "Indiana" Jones, Jr., a fictional archaeologist.</p>
  <p>It began in 1981 with the film Raiders of the Lost Ark. A prequel, Indiana Jones and the Temple of Doom, followed in 1984, and a sequel, Indiana Jones and the Last Crusade, was released in 1989. </p>
  <p>A fourth film, Indiana Jones and the Kingdom of the Crystal Skull, was released in 2008, and was the last in the series to be distributed by Paramount Pictures.</p>
  <p>The series was created by George Lucas; the films star Harrison Ford and are directed by Steven Spielberg. The Walt Disney Company has owned the Indiana Jones intellectual property since its acquisition of Lucasfilm, the series' production company,
    in 2012.</p>
  <p>A fifth film is planned for release on July 10, 2020, with both Spielberg and Ford returning.</p>
</div>
