<h2>Wolverine</h2>
<div id="wolverine">
  <img src="images/wolverine.jpg" alt="wolverine">
  <p>Wolverine (born James Howlett[2] commonly known as Logan and sometimes as Weapon X) is a fictional character appearing in American comic books published by Marvel Comics, mostly in association with the X-Men.</p>
  <p>He is a mutant who possesses animal-keen senses, enhanced physical capabilities, powerful regenerative ability known as a healing factor, and three retractable bone claws in each hand. Wolverine has been depicted variously as a member of the X-Men,
    Alpha Flight, and the Avengers.</p>
  <p>Wolverine is typical of the many tough antiheroes that emerged in American popular culture after the Vietnam War;[3] his willingness to use deadly force and his brooding nature became standard characteristics for comic book antiheroes by the end of
    the 1980s.</p>
  <p>As a result, the character became a fan favorite of the increasingly popular X-Men franchise,[5] and has been featured in his own solo comic since 1988.</p>
</div>
